<html>
<head>
    <title></title>
</head>
<body>

    <form action="/madlib"> 
        Welcome to our madlib game! Please fill in the following:<br><br>
        Person:
        <input type="text" name="person"><br>
        Color:
        <input type="text" name="color"><br>
        Noun:
        <input type="text" name="noun"><br>
        Adjective:
        <input type="text" name="adjective"><br>
        Another Adjective:
        <input type="checkbox" name="adjective2" value="big">big
        <input type="checkbox" name="adjective2" value="mean">mean
        <input type="checkbox" name="adjective2" value="scary">scary<br>
        <input type="submit"><br>
    </form>

</body>
</html>